name: Selenium Project-localmvntest

on:
  workflow_dispatch:
    inputs:
      browser:
        description: Browser [ chrome | firefox ]
        required: true
        
  push:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 8
      uses: actions/setup-java@v2
      with:
        java-version: '8'
        distribution: 'adopt'
        
    - name: Cache the Maven packages to speed up build
      uses: actions/cache@v1
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2  
        
    - name: Install Google Chrome # Using shell script to install Google Chrome
      run: |
       chmod +x ./InstallBrowsers.sh
        ./InstallBrowsers.sh
        
    - name: check chrome version
      run: google-chrome --version
      
    - name: check firefox version
      run: firefox --version
      
    - name: get hostname
      run: echo $hostname
    
    - name: Maven Build and Test (default)
      run: mvn -DENV=local -DBROWSER=${{github.event.inputs.browser}} -DHEADLESS=true --file pom.xml clean install
      if: github.event.inputs.browser == ''
      
    - name: Maven Build and Test (workflow-input)
      run: mvn -DENV=local -DBROWSER=${{github.event.inputs.browser}} -DHEADLESS=true --file pom.xml clean install
      if: github.event.inputs.browser != ''
#       with:
#         ref: ${{github.event.inputs.browser}}
#       mvn -DENV=local -DBROWSER=chrome -DHEADLESS=true -B package --file pom.xml
      
    - name: change file name
      run: mv ./ExtentReports/ExtentReportResults*.html ./ExtentReports/index.html

    - name: list files in ExtentReports dir
      run: cd ExtentReports && ls -al 
  
    - name: return to root dir
      run: cd ..

    
    - name: Deploy report page to GitHub Page
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.TOKEN }}
        publish_dir: ./ExtentReports
        exclude_assets: 'Readme.md'
        disable_nojekyll: true
    
    #       https://mdmunna67.github.io/mvnselenium/
    - name: Slack Notification
      uses: lazy-actions/slatify@master
      if: always()
      with:
          type: ${{ job.status }}
          job_name: 'Selenium mvn test - [https://mdmunna67.github.io/mvnselenium/] :rocket:'
          mention: 'here'
          mention_if: 'failure'
          channel: '#gh'
          url: ${{ secrets.SLACK_WEBHOOK }}
          commit: true
          token: ${{ secrets.TOKEN }}
        
